{% extends 'layout.html' %}
{% block title %}
    <title>{{ title }}</title>
{% endblock %}
<body>
{%  block content %}
    <h4 class="min-header">
        Ваши посты: <a href="{{ url_for('users.user_posts', username=current_user.username) }}">{{ current_user.username }}</a>
    </h4>
    <h1>Все посты</h1>
    {% for post in posts.items %}
        <div class="border-div">
            <img class='img__avatar' src="{{ url_for ('static', filename='profile_pics/' + post.author.image_file) }}" alt="pics">
            <h4 class="min-header"><a href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h4>
            <p>{{ post.content }}</p>
        </div>
    {% endfor %}
{% endblock content %}
</body>
