{% extends "layout.html" %}

{% block style %}
<style>
    .top-header {
        font-size: 64px;
        color: #1F3F68;
    }
</style>
{% endblock style %}

{% block content %}
<h3 class="content-header">Lorem ipsum dolor sit.</h3>
<h4 class="min-header">Lorem ipsum dolor sit amet, consectetur.</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cum debitis modi praesentium suscipit
    voluptate.</p>
<h3 class="content-header">Lorem ipsum dolor sit.</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nesciunt odio repellendus, similique tempora
    voluptas?</p>
<h3 class="content-header">Lorem ipsum dolor sit amet.</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, maxime!</p>

{% endblock content %}